<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-text-center" color="primary">
      <ion-title class="font-monSB" mode="md" style="color: #FFFFFF;">Pedir Viaje</ion-title>
  </ion-toolbar>

  <!-- hora y corto de viaje -->
  <ion-card>
      <ion-card-content>
          <div>
              <p class="font-monR">Viajes disponibles </p>
              <ion-item>
                <ion-select placeholder="Seleccione viaje" [(ngModel)]="Viajes">
                  <ion-select-option *ngFor="let vi of viajes" [value]="vi">{{vi.viajeId}}</ion-select-option>
                </ion-select>
              </ion-item>
          </div>
          <div style="padding-top: 2em;">
              <p class="font-monR">Costo de viaje: </p>
              <p class="font-monSB">$1.000</p>
          </div>
      </ion-card-content>
  </ion-card>

  <!-- mapa -->
  <ion-card>
      <ion-card-content>
          <img height="225px" width="300px" src="assets/mapa.png" alt="mapaDuoc">
      </ion-card-content>
  </ion-card>
  <div class="ion-text-center">
    <ion-button class="font-monR ion-text-center" color="secondary" style="margin-bottom: 1em;">Comenzar Viaje</ion-button>
  </div>
</ion-content>