.mensaje-error {
    color: var(--ion-color-danger)
}

.font-monSB{
    font-family:MontserratSB;
    font-size: 1.9em;
    color: #2B2C4F;
}

.font-monR{
    font-family:MontserratR;
    font-size: 1.2em;
    color: #2B2C4F;
}

.paddTop{
    padding-top: 2em;
}

