<!-- HEADER -->
<ion-toolbar class="ion-text-center paddTop" >
    <img height="150px" width="150px" src="assets/insurance.png" alt="Logo TeLlevoApp">
    <ion-title class="font-monSB" mode="md">
        TeLlevoAPP
    </ion-title>
</ion-toolbar>


<!-- CUERPO -->
<ion-content>
    <ion-card mode="md">
        <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="ingresar()">
                <ion-item [ngClass]="{'mensaje-error' : loginForm.get('user').errors && (loginForm.get('user').touched || loginForm.get('user').dirty)}">
                    <ion-label class="font-monR" position="floating">Usuario</ion-label>
                    <ion-input formControlName="user" required="true" type="text" minlength="3" [(ngModel)]="newUser.newUsuario"></ion-input>
                </ion-item>
                <span class="help-block" *ngIf="loginForm.get('user').errors && (loginForm.get('user').touched || loginForm.get('user').dirty)">
                    <small class="mensaje-error" *ngIf="loginForm.get('user').errors.required">Se requiere ingresar usuario</small>
                    <small class="mensaje-error" *ngIf="loginForm.get('user').errors.minlength">El usuario debe tener al menos 3 caracteres</small>
                </span>
                <ion-item [ngClass]="{'mensaje-error' : loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)}">
                    <ion-label class="font-monR" position="floating">Contraseña</ion-label>
                    <ion-input formControlName="password" required="true" type="password" minlength="3" [(ngModel)]="newUser.newPass"></ion-input>
                </ion-item>
                <ng-container class="help-block" *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)">
                    <small class="mensaje-error" *ngIf="loginForm.get('password').errors.required">Se requiere ingresar contraseña</small>
                    <small class="mensaje-error" *ngIf="loginForm.get('password').errors.minlength">La contraseña debe tener al menos 3 caracteres</small>
                </ng-container>
                <div style="margin-top: 2em;">
                    <ion-button class="font-monR" color="secondary" [disabled]="!loginForm.valid" type="submit" mode="md" expand="block">Ingresar</ion-button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>
    <div class="ion-text-center font-monR" style="margin-top: 2em;">
        <a [routerLink]="['/recover']">¿Olvidaste tu contraseña?</a>
    </div>
</ion-content>