<ion-header>
</ion-header>

<ion-content>
    <mat-card>
        <mat-card-title>
            <h1>TeLlevoApp</h1>
            <h3>Bienvenid@!</h3>
            <h3>Ingresa</h3>
        </mat-card-title>

        <mat-card-content>
            <ion-item>
                <ion-label position="floating">Nombre de Usuario</ion-label>
                <ion-input type="text" minlength="3"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" minlength="3"></ion-input>
            </ion-item>
            <ion-button color="tertiary" shape="round">Ingresar</ion-button>
            <ion-label>¿Olvidaste tu contraseña? Recuperala aquí</ion-label>
        </mat-card-content>
    </mat-card>


</ion-content>