<!-- HEADER -->
<ion-toolbar class="ion-text-center" color="secondary" style="padding-top: 1.8em;">
    <ion-toolbar-content slot="start" style="padding-left: 2em;">
        <img height="30px" width="30px" src="assets/insurance.png" alt="Logo TeLlevoApp">
    </ion-toolbar-content>
    <ion-title class="font-monSB" style="padding-right: 2em;" mode="md">TeLlevoAPP</ion-title>
</ion-toolbar>

<!-- CUERPO  -->
<ion-content  class="ion-text-center">
    <ion-card mode="md">
        <ion-card-header>
            <small style="font-size: medium;" class="font-monSB">Recuperar Contraseña</small>
        </ion-card-header>

        <ion-item>
            <ion-label class="font-monR" position="floating">Nombre de usuario</ion-label>
            <ion-input type="string"></ion-input>
        </ion-item>
        <ion-button class="font-monR" color="secondary" [routerLink]="['/login']">Recuperar</ion-button>
    </ion-card>
</ion-content>