ion-content {
  #map {
    align-self: center;
    width: 90%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map {
      opacity: 1;
    }
  }
}
