<!-- HEADER -->
<ion-toolbar class="ion-text-center" color="secondary" style="padding-top: 1.8em;">
    <ion-toolbar-content slot="start" style="padding-left: 2em;">
        <img height="30px" width="30px" src="assets/insurance.png" alt="Logo TeLlevoApp">
    </ion-toolbar-content>
    <ion-title class="font-monSB paddRight" mode="md">TeLlevoAPP</ion-title>
</ion-toolbar>

<!-- CUERPO -->
<ion-content mode="ios">
    <ion-card>
        <ion-card-header class="ion-text-center">
            <div #bienvenida>
                <ion-card-title class="font-monR">Bienvenid@!</ion-card-title>
            </div>
            <small class="font-monR">{{data.newUsuario}}</small>
        </ion-card-header>
        <ion-card-content class="ion-text-center font-monR">
            <!-- animacion -->
            <div style="height: 120px;" >
                <ng-lottie [options]='options'></ng-lottie> 
            </div>
            <ion-card-title style="font-size: 0.9em; padding-bottom: 2em;">¿Qué quieres hacer hoy?</ion-card-title>
            <ion-button class="font-monR" color="secondary" style="margin-bottom: 1em;">Llevar gente</ion-button>
            <ion-button class="font-monR" color="secondary" style="margin-bottom: 1em;" [routerLink]="['/pedirviaje']">Que me lleven</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>